<ol>
  <% Post.order("created_at DESC").each do |post| %>
    <li>
      <%= find_upvotes(post, session[:id].to_i) %>
      <a href=<%=post.url%> data-post-id=<%=post.id%>><%= post.title %></a>
      <br>
      by <a href="/user/<%= post.user.id %>"><%= post.username %></a> <%= create_time_ago(post.created_at)%> | 
      <a href="/post/<%=post.id%>"><%=post.comments.count%> comments</a>
    </li>
  <% end %>
</ol>

